.palabraOculta {
    font-size: 2rem;
    letter-spacing: 0.5rem;
}
.letraErrada {
    font-size: 1.5rem;
    color: red;
}
.ahorcado {
    text-align: center;
    font-size: 2rem;
}
.dibujo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
}
.cuerpo {
    display: none;
    width: 10px;
    background-color: black;
}
.parte-1 { height: 10px; width: 60px; }
.parte-2 { height: 120px; }
.parte-3 { height: 10px; width: 80px; }
.parte-4 { height: 40px; width: 40px; border-radius: 50%; }
.parte-5 { height: 70px; }
.parte-6 { height: 50px; transform: rotate(45deg); transform-origin: top left;}
.parte-7 { height: 50px; transform: rotate(-45deg); transform-origin: top right;}
.parte-8 { height: 50px; transform: rotate(-45deg); transform-origin: top left;}
.parte-9 { height: 50px; transform: rotate(45deg); transform-origin: top right;}





